:global(.tag) {
  color: #ccc;
}
:global(.location) {
  color: #ccc;
}

.card {
  width: 300px;
  margin: 0 auto;
  margin-top: 30px;
  border: 1px solid black;
  border-radius: 5px;
}
.list {
  margin-bottom: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  background-color: #ccc;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  text-align: center;
  border: 1px solid grey;
}
.img {
  display: block;
  padding-top: 15px;
  margin: 0 auto;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.item > span {
  display: block;
}

.description > * {
  text-align: center;
}

.label {
  margin-bottom: 10px;
}
